In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("stayzilla.csv")

In [8]:
# df.drop(axis=1,inplace=True,columns=["check_in_date","check_out_date","crawl_date","highlight_value","hotel_star_rating","property_address","property_id","qts","property_name","query_time_stamp","internet","landmark","pageurl","uniq_id","things_to_do","service_value","search_term","similar_hotel","sitename"])
pd.set_option('display.max_columns', 50)

In [9]:
df.head()

,additional_info,amenities,check_in_date,check_out_date,city,country,crawl_date,description,highlight_value,hotel_star_rating,image_count,image_urls,internet,landmark,latitude,longitude,occupancy,pageurl,property_address,property_id,property_name,property_type,qts,query_time_stamp,room_price,room_types,search_term,service_value,similar_hotel,sitename,things_to_do,things_to_note,uniq_id
0,Acceptance Rate:100 percent|Response Time:< 6 ...,Newspaper,04-08-2016,05-08-2016,Kalimpong,India,2016-07-20,Sangsey Valley Resort is Located at the wonder...,NaN,NaN,3.0,http://stay-imgs.stayzilla.com/resize/1200x800...,NaN,NaN,27.087429,88.531357,3 Adults 2 Kids,https://www.stayzilla.com/stays/sangsey-valley...,"South Sikkim, Kalimpong",67368,Sangsey Valley Resort,Resort,2016-07-20 10:59:55 +0000,2016-07-20 10:59:55 +0000,3167per night incl. tax,3 Bedded Room,NaN,Not Verified,NaN,www.stayzilla.com,NaN,"All taxes.|Complimentary Breakfast, Lunch and ...",52a63c632d90923f7f0c394a79dce191
1,Acceptance Rate:100 percent|Response Time:< 6 ...,Parking|AC,04-08-2016,05-08-2016,Kanpur,India,2016-07-20,What should you know? Enjoy unmatched service ...,NaN,NaN,0.0,NaN,NaN,NaN,26.466461,80.347450,2 Adults 2 Kids,https://www.stayzilla.com/stays/hotel-amantran...,"Ratanlal nagar, Kanpur",28733,Hotel Amantran Kanpur,Hotel,2016-07-20 10:59:55 +0000,2016-07-20 10:59:55 +0000,815per night incl. tax,Double Non-A/C Rooms,NaN,Not Verified,Hotel Mangalam|Hotel Maha Roopa Palace,www.stayzilla.com,NaN,Kindly Note:|This Tariff is not applicable for...,49ad3256fc231a4c9fdb6f6f2cc00d16
2,Acceptance Rate:100 percent|Response Time:< 6 ...,Pickup & Drop|Parking|AC,04-08-2016,05-08-2016,Jodhpur,India,2016-07-20,"What should you know? A budget hotel, this acc...",NaN,NaN,18.0,http://stay-imgs.stayzilla.com/resize/1200x800...,NaN,NaN,26.279020,73.019074,2 Adults 2 Kids,https://www.stayzilla.com/stays/hotel-krishna-...,"Shakti Nagar, Jodhpur",53742,Hotel Krishna,Hotel,2016-07-20 10:59:55 +0000,2016-07-20 10:59:55 +0000,1624per night incl. tax,Deluxe AC Double,NaN,Not Verified,Gouri Heritage Haveli|The Regent Hotel|Vista R...,www.stayzilla.com,NaN,All taxes.|Complimentary Tea.,8b5952e578717e20b311846f7aab031f
3,Acceptance Rate:100 percent|Response Time:< 6 ...,WiFi|Newspaper|Pickup & Drop|Gym|Parking|AC,04-08-2016,05-08-2016,Jalpaiguri,India,2016-07-20,What should you know? The Riverwood Forest Ret...,NaN,NaN,9.0,http://stay-imgs.stayzilla.com/resize/1200x800...,NaN,NaN,26.808519,88.823601,1 Adult 2 Kids,https://www.stayzilla.com/stays/the-riverwood-...,"Dakshin Dhupjhora, Jalpaiguri",15468,The Riverwood Forest Retreats,Hotel,2016-07-20 10:59:55 +0000,2016-07-20 10:59:55 +0000,3509per night incl. tax,Premium Single A/c,NaN,Not Verified,NaN,www.stayzilla.com,NaN,All taxes|Complimentary Breakfast|Kindly Note:...,032d715cabef6d4633e753de416929a8
4,Acceptance Rate:100 percent|Response Time:< 6 ...,Newspaper|AC,04-08-2016,05-08-2016,Kanpur,India,2016-07-20,What should you know? Located at a walking dis...,NaN,NaN,5.0,http://stay-imgs.stayzilla.com/resize/1200x800...,NaN,NaN,26.488201,80.326630,2 Adults 2 Kids,https://www.stayzilla.com/stays/hotel-vijay-in...,"John Wallinger Ave, Kanpur",47032,Hotel Vijay Inter Continental,Hotel,2016-07-20 10:59:55 +0000,2016-07-20 10:59:55 +0000,5802per night incl. tax,Deluxe AC Double,NaN,Not Verified,Hotel Royal Cliff,www.stayzilla.com,NaN,Complimentary Breakfast.|Complimentary WiFi.|C...,ed546591dba770faae0ec3edadb0fcde

In [10]:
dff = df[["room_price","room_types","occupancy"]]

In [18]:
dff.dropna(inplace=True)
dff = dff.iloc[:128]

In [19]:
dff.count()

room_price    128
room_types    128
occupancy     128
dtype: int64

In [198]:
df_city=df[["city"]]
df_city.count()

city    1207
dtype: int64

In [199]:
df_city = df_city.drop_duplicates(subset='city',keep='first')
df_city.head(2)

        city
0  Kalimpong
1     Kanpur

In [200]:
df_city.loc[:,"latitude"]=0.00
df_city.loc[:,"longitude"]=0.00
df_city.loc[:,"faddress"]="x"

In [201]:
df_city.head()

         city  latitude  longitude faddress
0   Kalimpong       0.0        0.0        x
1      Kanpur       0.0        0.0        x
2     Jodhpur       0.0        0.0        x
3  Jalpaiguri       0.0        0.0        x
5       Jammu       0.0        0.0        x

In [202]:
df_city.count()

city         157
latitude     157
longitude    157
faddress     157
dtype: int64

In [203]:
import requests
def frame(source):
    for index, row in source.iterrows():
        place = row.values
        address = place[0]+ ',' + 'India'  
#         print(address)
        response = requests.get('https://maps.googleapis.com/maps/api/geocode/json?address='+address+'&key=AIzaSyAyuakM26bbp3raXmbCDw4_k1oY6cOgvWA')
        data = response.json()
#         print(address)
#         print(data["results"][0]["geometry"]["location"])
        if len(data["results"]) != 0:
            location = data["results"][0]["geometry"]["location"]
            faddress = data["results"][0]["formatted_address"]
            df_city.at[index, 'latitude'] = location["lat"]
            df_city.at[index, 'longitude'] = location["lng"]
            df_city.at[index,'faddress'] = faddress
        else :
            print(address)

In [204]:
frame(df_city)

Koduma,India

df_city_copy = df_city

In [222]:
df_city = df_city_copy
df_city.head(1)

        city   latitude  longitude    state_name
0  Kalimpong  27.059356  88.469454   West Bengal

In [220]:
def filter(str):
    lst = str.split(",")
    if len(lst) == 3:
        state=lst[1]
    else:
        state = lst[0]
    return state

In [221]:
df_city["faddress"] = df_city["faddress"].apply(filter)

KeyError: 'faddress'

In [208]:
df_city.head(10)

          city   latitude  longitude            faddress
0    Kalimpong  27.059356  88.469454         West Bengal
1       Kanpur  26.449923  80.331874       Uttar Pradesh
2      Jodhpur  26.238947  73.024309           Rajasthan
3   Jalpaiguri  26.521458  88.719557         West Bengal
5        Jammu  32.726602  74.857026               Jammu
7   Velankanni  10.681926  79.843680   Tamil Nadu 611111
10  Kapurthala  31.371480  75.393681              Punjab
11  Mandarmani  21.668143  87.702482         West Bengal
12       Digha  21.626617  87.507431         West Bengal
14    Kakinada  16.989065  82.247465      Andhra Pradesh

In [209]:
import re
def filter2(str):
    lst = str.split(" ")
    for l in lst:
        if bool(re.search(r'\d', l)):
            return ' '.join(lst[:-1])
    return str

In [210]:
df_city.loc[:,"state_name"] = df_city["faddress"].apply(filter2)
df_city.head(2)

        city   latitude  longitude        faddress      state_name
0  Kalimpong  27.059356  88.469454     West Bengal     West Bengal
1     Kanpur  26.449923  80.331874   Uttar Pradesh   Uttar Pradesh

In [211]:
df_city.drop(axis=1,columns=["faddress"],inplace=True)
df_city.head(10)

          city   latitude  longitude       state_name
0    Kalimpong  27.059356  88.469454      West Bengal
1       Kanpur  26.449923  80.331874    Uttar Pradesh
2      Jodhpur  26.238947  73.024309        Rajasthan
3   Jalpaiguri  26.521458  88.719557      West Bengal
5        Jammu  32.726602  74.857026            Jammu
7   Velankanni  10.681926  79.843680       Tamil Nadu
10  Kapurthala  31.371480  75.393681           Punjab
11  Mandarmani  21.668143  87.702482      West Bengal
12       Digha  21.626617  87.507431      West Bengal
14    Kakinada  16.989065  82.247465   Andhra Pradesh

In [212]:
df_state =  df_city.drop_duplicates(subset="state_name")

In [215]:
df_state = df_state[["state_name"]]

In [216]:
df_state.drop([167,83,483,537,569,1199,1201,1152],axis=0,inplace=True)

KeyError: '[ 167   83  483  537  569 1199 1201 1152] not found in axis'

In [223]:
df_com_state = pd.merge(df_city,df_state,on="state_name")

In [224]:
df_com_state.count()

city          149
latitude      149
longitude     149
state_name    149
dtype: int64

In [230]:
df_com_state

                             city   latitude  longitude         state_name
0                       Kalimpong  27.059356  88.469454        West Bengal
1                      Jalpaiguri  26.521458  88.719557        West Bengal
2                      Mandarmani  21.668143  87.702482        West Bengal
3                           Digha  21.626617  87.507431        West Bengal
4    Kurseong, West Bengal, India  26.882138  88.278851        West Bengal
5                          Takdah  27.037542  88.360358        West Bengal
6                       MEDINIPUR  22.425661  87.319882        West Bengal
7                          Kanpur  26.449923  80.331874      Uttar Pradesh
8                          Jhansi  25.448426  78.568459      Uttar Pradesh
9                           Noida  28.535516  77.391026      Uttar Pradesh
10                       Varanasi  25.317645  82.973914      Uttar Pradesh
11                       Lalitpur  24.691171  78.413818      Uttar Pradesh
12                      Lakhimpur  27.946240  80.778716      Uttar Pradesh
13                        Kirauli  27.136724  77.785258      Uttar Pradesh
14                       Fatehpur  25.849981  80.898650      Uttar Pradesh
15                        Lucknow  26.846694  80.946166      Uttar Pradesh
16                         Meerut  28.984462  77.706414      Uttar Pradesh
17                      Ghaziabad  28.669156  77.453758      Uttar Pradesh
18                        Jodhpur  26.238947  73.024309          Rajasthan
19                   Chittaurgarh  24.883488  74.622974          Rajasthan
20                    Chittorgarh  24.883488  74.622974          Rajasthan
21                         Jaipur  26.912434  75.787271          Rajasthan
22                      Rajsamand  25.071485  73.883070          Rajasthan
23                           Tonk  26.162040  75.789472          Rajasthan
24                        Mandawa  28.050017  75.148701          Rajasthan
25                          Sikar  27.609391  75.139793          Rajasthan
26                      Nawalgarh  27.845421  75.254648          Rajasthan
27                     Jhunjhunun  28.128875  75.399509          Rajasthan
28                      Jhunjhunu  28.128875  75.399509          Rajasthan
29                          Churu  28.292536  74.970726          Rajasthan
..                            ...        ...        ...                ...
119                      Palakkad  10.786730  76.654793             Kerala
120                    Thiruvalla   9.385272  76.574986             Kerala
121                     Alapuzzha   9.412624  76.410027             Kerala
122                      Aliyabad  16.888554  75.777846          Karnataka
123                        Hassan  13.003323  76.100389          Karnataka
124                     Mangalore  12.914142  74.855957          Karnataka
125                        Supaul  26.289911  86.822034              Bihar
126                         Patna  25.594095  85.137564              Bihar
127                     Begusarai  25.418164  86.127154              Bihar
128                      Vaishali  25.683821  85.354965              Bihar
129                       Hajipur  25.692443  85.208324              Bihar
130                        Imphal  24.817011  93.936844            Manipur
131                      Chanderi  24.712834  78.136489     Madhya Pradesh
132                        Bhopal  23.259933  77.412615     Madhya Pradesh
133                        Ujjain  23.176467  75.788516     Madhya Pradesh
134                        Shimla  31.104814  77.173403   Himachal Pradesh
135                       Kasauli  30.901290  76.964875   Himachal Pradesh
136                     Dalhousie  32.538739  75.970998   Himachal Pradesh
137                         Kullu  31.957851  77.109460   Himachal Pradesh
138                        Chamba  32.553363  76.125808   Himachal Pradesh
139                         Mandi  31.589201  76.918210   Himachal Pradesh
140                        Raipur  21.251384  81.629641       Chhattisgarh
141                   Rudraprayag  30.284414  78.981141        Uttarakhand
142                     Mussoorie  30.459910  78.066398        Uttarakhand
143                      Ramnagar  29.394764  79.126500        Uttarakhand
144                      Dehradun  30.316495  78.032192        Uttarakhand
145                    Uttarkashi  30.726831  78.435404        Uttarakhand
146                     Hyderabad  17.385044  78.486671          Telangana
147                         Delhi  28.704059  77.102490              Delhi
148                           Goa  15.299326  74.123996                Goa

[149 rows x 4 columns]

In [226]:
df.count()

additional_info    1203
amenities          1154
city               1207
country            1139
description         919
image_count         985
image_urls          947
latitude           1207
longitude          1207
occupancy          1139
property_type      1207
room_price         1139
room_types         1207
things_to_note      977
dtype: int64

In [227]:
df_merge = pd.merge(df,df_com_state,on="city")

In [231]:
df_merge.count()

additional_info    1184
amenities          1135
city               1188
country            1123
description         907
image_count         970
image_urls          934
latitude_x         1188
longitude_x        1188
occupancy          1123
property_type      1188
room_price         1123
room_types         1188
things_to_note      962
latitude_y         1188
longitude_y        1188
state_name         1188
dtype: int64

In [235]:
df_merge[df_merge["state_name"]=="Karnataka"]

Empty DataFrame
Columns: [additional_info, amenities, city, country, description, image_count, image_urls, latitude_x, longitude_x, occupancy, property_type, room_price, room_types, things_to_note, latitude_y, longitude_y, state_name]
Index: []